<div class="otp-dialog">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
        <div fxLayout="row" fxLayoutAlign="center center">
            ENTER ONE TIME PASSCODE TO CONTINUE
        </div>
        <div >
            <mat-divider></mat-divider>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="0.5rem">
                <div class="font-size-12">You should have received your Assessment Passcode.</div>
                <div class="font-size-12" style="text-align: center;">Check your email INBOX or SPAM folder.</div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
            <mat-form-field class="otp-field">
                <input matInput maxlength="1" />
            </mat-form-field>
            <mat-form-field class="otp-field">
                <input matInput maxlength="1" />
            </mat-form-field>
            <mat-form-field class="otp-field">
                <input matInput maxlength="1" />
            </mat-form-field>
            <mat-form-field class="otp-field">
                <input matInput maxlength="1" />
            </mat-form-field>
            <mat-form-field class="otp-field">
                <input matInput maxlength="1" />
            </mat-form-field>
            <mat-form-field class="otp-field">
                <input matInput maxlength="1" />
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="7rem">
            <button mat-stroked-button>SEND NEW PASSCODE</button>
            <button mat-stroked-button>PROCEED TO ASSESSMENT</button>
        </div>
    </div>
</div>