<mat-card class="dashboard">
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <app-count-down></app-count-down>
                <span class="title">PEEXELL DIGITAL SOLUTION</span>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
                    <mat-icon>print</mat-icon>
                    <mat-icon>download</mat-icon>
                    <mat-icon>email</mat-icon>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-card-content>
</mat-card>